<table border="1">
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Parts</b></td></tr>
<tr><td>1</td><td></td><td>CRYSTALHC49US</td><td>Q1</td></tr>
<tr><td>2</td><td></td><td>LED1206</td><td>LED1, LED2</td></tr>
<tr><td>4</td><td></td><td>LEDCHIPLED_1206</td><td>PIC1, PIC2, PIC3, PIC4</td></tr>
<tr><td>7</td><td></td><td>M02LOCK</td><td>_IC1, _IC2, _IC3, _IC4, _INT3, _INT4, _OC1</td></tr>
<tr><td>4</td><td>1k</td><td>R1206</td><td>R8, R9, R10, R11</td></tr>
<tr><td>2</td><td>1k</td><td>RESISTOR1206</td><td>R1, R2</td></tr>
<tr><td>4</td><td>1uF</td><td>C1206</td><td>C1, C2, C30, C31</td></tr>
<tr><td>28</td><td>1uF</td><td>CAP_POL1206</td><td>C3, C4, C5, C6, C7, C8, C9, C10, C11, C12, C13, C14, C15, C32, C33, C34, C35, C36, C37, C38, C39, C40, C41, C42, C43, C44, C45, C46</td></tr>
<tr><td>12</td><td>3.38k</td><td>RESISTOR1206</td><td>R12, R13, R14, R15, R16, R17, R18, R19, R20, R21, R22, R23</td></tr>
<tr><td>1</td><td>4POS_TERMINAL_254MM_THRU_HOLE</td><td>4POS_TERMINAL_254MM_THRU_HOLE</td><td>U$15</td></tr>
<tr><td>1</td><td>10K</td><td>RESISTOR1206</td><td>R3</td></tr>
<tr><td>2</td><td>20pF</td><td>CAP_POL1206</td><td>C28, C29</td></tr>
<tr><td>12</td><td>47nF</td><td>CAP_POL1206</td><td>C16, C17, C18, C19, C20, C21, C22, C23, C24, C25, C26, C27</td></tr>
<tr><td>1</td><td>74VHC393</td><td>74VHC393</td><td>U$16</td></tr>
<tr><td>2</td><td>240</td><td>R1206</td><td>R5, R7</td></tr>
<tr><td>2</td><td>720</td><td>R1206</td><td>R4, R6</td></tr>
<tr><td>12</td><td>AD8597R</td><td>AD8597R</td><td>IC2, IC3, IC4, IC5, IC6, IC7, IC8, IC9, IC10, IC11, IC12, IC13</td></tr>
<tr><td>1</td><td>DSPIC30F6014/PF</td><td>DSPIC30F6014/PF</td><td>IC1</td></tr>
<tr><td>1</td><td>FT232RL-BASICSSOP</td><td>FT232RL-BASICSSOP</td><td>U1</td></tr>
<tr><td>1</td><td>POWER_JACKSMD</td><td>POWER_JACKSMD</td><td>J1</td></tr>
<tr><td>1</td><td>RJ11-6PTH</td><td>RJ11-6PTH</td><td>PROGRAMMER</td></tr>
<tr><td>14</td><td>RJ45-8PTH</td><td>RJ45-8PTH</td><td>U$1, U$2, U$3, U$4, U$5, U$6, U$7, U$8, U$9, U$10, U$11, U$12, U$13, U$14</td></tr>
<tr><td>1</td><td>USB-B-S</td><td>USB-B-S</td><td>X1</td></tr>
<tr><td>2</td><td>V_REG_317SMD</td><td>V_REG_317SMD</td><td>REG2.5V, REG5V</td></tr>
</table>
